 
     body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
        background-color: #111;
        color: var(--text-light);
      }
  
      
  
      header {
        
            background-color: #1a1a1a;
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
      }
      .logo {
        font-size: 24px;
        font-weight: bold;
        color: #d21515;
      }
      nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
      }
      nav a {
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
      nav a:hover {
        color: #d21
      }
      nav a.active {
        background-color: #d21;
        color: white;

      }

        
  
      .container {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;
        justify-content: center;
      }
  
      .contact-form{
        background-color: var(--secondary);
        padding: 2rem;
        border-radius: 10px;
        flex: 1 1 300px;
        max-width: 600px;
      }
      .contact-form,h2{
        background-color: #d21;


      }
      .contact-info {
        color: aliceblue;
      }
  
      form {
        display: flex;
        flex-direction: column;
      }
  
      input, textarea {
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
      }
  
      input[type="submit"] {
        background-color: var(--accent);
        color: var(--primary);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
      }
  
      input[type="submit"]:hover {
        background-color: white;
      }
  
      .contact-info p {
        margin: 0.5rem 0;
        color: var(--text-muted);
      }
  
      @media (max-width: 768px) {
        header h1 {
          font-size: 2rem;
        }
  
        .container {
          flex-direction: column;
          padding: 1rem;
        }
  
        .contact-form, .contact-info {
          max-width: 100%;
        }
      }