body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;

}
header{
    background-color: #1a1a1a;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d21515;
}
nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;

}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color:#d21 ;

}
nav a.active {
    background-color: #d21;
    color: white;

  }
 svg{
    fill: #fff;
 }
  
main{
    padding: 20px;
    max-width: 800px;
    margin: auto;

}
section{
    margin-bottom: 40px;

}

h2{
    color: #d21515;
}

.faq-item{
    background: #1c1c2c;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color:#d21515;
    color: #000;
}

.game-footer{
    background-color: #1a1a2e;
    color: #ccc;
    padding: 40px 20px;
    font-family: 'Segoe UI',sans-serif;
    
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section{
    flex: 1 1 300px;
    margin: 20px;
    
}


.footer-bottom{
    text-align: center;
    margin-top: auto;
    
    font-size: 13px;
    color: #777;
}
footer-image {
    width: 200px;
    height: 100px;
}